services:
  elasticsearch:
    container_name: elasticsearch-main
    build: ./elastic
    ports:
      - "127.0.0.1:9200:9200"
    volumes:
      - ./elastic/data:/var/lib/elasticsearch
      - ./elastic/logs:/var/log/elasticsearch
      - ./elastic/config:/tmp/config
      - share:/tmp/share
    environment:
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}

  kibana:
    container_name: kibana
    build: ./kibana
    ports:
      - "127.0.0.1:5601:5601"
    volumes:
      - ./kibana/logs:/var/log/kibana
      - ./kibana/config:/etc/kibana
      - share:/tmp/share
    environment:
      - KIBANA_HOST=${KIBANA_HOST}
      - KIBANA_PORT=${KIBANA_PORT}
      - KIBANA_BASEURL=https://${KIBANA_HOST}:${KIBANA_PORT}
      - ELASTICSEARCH_URLS=${ELASTICSEARCH_URLS}
    depends_on:
      - elasticsearch

volumes:
  share: